.about_course{

    &_row{
        @include flex(start,space-between);
        gap: 80px;

        @media screen and (max-width:1000px){
            @include flex(center,space-between);
            flex-direction: column;
            gap: 30px;
        }
    }

    &_text{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &_title{
        font-weight: 900;
        line-height: 130%;
        color: #1E212C;
        @include adaptive-value('font-size',46,20);

    }

    &_subtitle{
        font-weight: 400;
        line-height: 160%;
        color: #424551;
        margin-bottom: 60px;
        @include adaptive-value('font-size',16,5);

    }

    &_subtitles{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_learn{
        font-weight: 700;
        line-height: 150%;
        color: #1E212C;
        margin-bottom: 40px;
        @include adaptive-value('font-size',28,8);
    }

    &_join{
        @include flex(start,center);


        &_row{
            @include flex(start,center);
            gap: 20px;
            flex-direction: column;
            margin-top: 15px
        }

        &_panel{
            @include flex(start,center);
            gap: 8px;
            flex-direction: column;
        }

        &_title{
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #1E212C;
            @include adaptive-value('font-size',14,5);
        }
        &_date{
            font-weight: 700;
            line-height: 130%;
            color: $primary;
            @include adaptive-value('font-size',24,12);

            &_black{
                color: #000;
            }

        }
        &_subtitle{
            font-weight: 400;
            line-height: 160%;
            color: #000;
            opacity: 0.6;
            @include adaptive-value('font-size',16,5);
        }

       
    }
}