.benefits{
    @include flex(center,center);
    flex-direction:column;
    flex-wrap: wrap;
    

    &_title{
        @include flex(center,center);
        flex-direction: column;
        margin-top: 20px;
        @include adaptive-value('font-size',16,6);

        @media screen and (max-width:465px) {
            text-align: center;
        }


    }
    &_info{
        @include flex(center,space-between);
        margin-bottom: 70px;


        @media screen and (max-width:870px) {
            flex-direction: column;
        }

        &_button{
            @include flex(center,center);
            gap: 15px;
            border:2px solid transparent;
            color: #9A9CA5;

            @media screen and (max-width:970px) {
                flex-direction: column;
            }

           
            &:hover{
                border: 2px solid $primary;
                background-color: transparent;
                color: $primary;

            }
            
            
                
            
        }

    }

    &_desc{
     @include flex(center,center);
      
     &_row{
       @include flex(center,space-between);
       @media screen and (max-width:970px) {
        flex-direction: column;
       }

        
        &_image {
            
            & svg {
                @include adaptive-value('width',600,120);
            }
    
       
        }
       

        @media screen and (max-width:980px) {
            @include flex(center,center);
           }
    
    


      &_text{

        &_title{
           text-transform: none;
           @include adaptive-value('font-size',16,10);

        }
        &_subtitle{
            width: 70%;
            font-weight: 400;
            line-height: 160%;
            color: #424551;
            @include adaptive-value('font-size',16,10);

            
        }
      }
    
    }
       
   }
}