.course_types{
    @include flex (center,space-between);
    margin-bottom: 25px;

    &_second_row{
      @media screen and (max-width:510px){
        @include flex(center,center);

        
    }
    }

    &_row{
      @include flex(center,space-between);
      @include adaptive-value ('gap',400,50);

      @media screen and (max-width:510px){
        @include flex(center,center);

        
    }

      @media screen and (max-width:900px) {
        flex-direction: column;
        gap: 0;
        text-align: center;
        
      }


     
    }

  
}